
ul{
    list-style: none;
}
.col-md-12 > .row > .col-md-12 > p, .col-md-12 > .row > .col-md-3 > h2{
    font-size: 1.6rem;
    font-size: 1.6rem;
    text-align: center;
} 
.col-md-12.align-items-center.mt-3 > h2{
    color:#ff4118!important;
    text-align: center;
}
.col-md-3 > h2{
    color:#ff0606;
}
ul > li:hover{
    color:#ff6f06;
    cursor: pointer;
}
#footer > .row > div > .row > div > img:hover{
    cursor: pointer;
    filter: invert(1);
}

 
  #footer {
    background: #ffb22b!important;  
  }