<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3">
    <div class="row">
      <div class="col-9">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink ="main-page">Uli<strong>Express</strong></a>
      </div>
      <div class="col-3">
          <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="large material-icons">menu</i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Женская одежда</a>
                  <a class="dropdown-item" href="#">Мужская одежда</a>
                  <a class="dropdown-item" href="#">Детская одежда</a>
                  <a class="dropdown-item" href="#">Скидки</a>
                  <a class="dropdown-item" href="#">Новинки</a>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-lg-8">
        <div class="form-inline my-2 my-lg-0" (click)="onSubmit()">
            <div class="input-group mr-sm-2">
                <input name="search" [(ngModel)] = "search" class="form-control" id="search" placeholder="Я ищу...">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-outline"><i class="large material-icons">search</i></button>
                </div>
              </div>
        </div>
  </div>
  <div class="col-12 col-sm-12 col-md-1 col-lg-1 collapse navbar-collapse col-auto justify-content-center" id="navbarTogglerDemo03">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="large material-icons">favorite_border</i>
              <span class="d-md-none">Любимое</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="large material-icons">local_grocery_store</i>
              <span class="d-md-none">Корзина</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="large material-icons">person_outline</i>
              <span class="d-md-none">Войти</span>
            </a>
          </li>
        </ul>
  </div>

  </nav>